body
{
    font-family: "Lucida Sans Unicode";
    color: gray;
    background-color: lightblue;
    font-size: x-large;
}

.info
{
    position: fixed;
    left: 42em;
    top: 12em;
}

.game
{
    position: fixed;
    left: 1em;
    top: 5em;
}