body
{
    font-family: "Lucida Sans Unicode";
    color: gray;
    background-color: lightblue;
}

.info
{
    position: fixed;
    left: 32em;
    top: 5em;
}

.game
{
    position: fixed;
    left: 1em;
    top: 5em;
}